body {
  font-family: 'Roboto', sans-serif;
  background-color: #b3b3b3;
}

.navImage {
  background-image: url('img/stuff.png');
  background-size: 45%;
  height: 150px;
  background-repeat: no-repeat;
  margin-left: 35%;
}

#sidebar {
  width: 150px;
  float: left;
  position: relative;
  display: block;
  border-right: green solid 4px;
  margin-right: 5%;
}

.row1 {
    height: 20%;
    border: solid black 1px;
    border-radius: 10%;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    float: left;
    margin-right: 15px;
    background-color: white;
    
}

.row2 {
    height: 20%;
    border: solid black 1px;
    border-radius: 10%;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    float: left;
    margin-right: 15px;
    margin-top: 5%;
    background-color: white;
    
}

.img-size {
  width: 90%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  border-radius: 3%;
}

.text-fix {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
}

.space {
  margin-left: 19.5%;
}

